<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flute</title>
</head>
<body>
    <h1>This is Navabar Flute page</h1>
    <a href="{% url 'app2:guitar' %}"> guitar page</a>
    <a href="{% url 'violen' %}">violen page</a>
    <p>The flute is a family of classical music instrument in the woodwind group. Like all woodwinds, flutes are aerophones, meaning they make sound by vibrating a column of air. </p>
    <img src="https://th.bing.com/th/id/R.c24605f0b05c6255463e7e688970ef45?rik=E847jMWxa3hLpw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fd%2f7%2f2%2f1429013-gorgerous-flute-wallpapers-1920x1280-notebook.jpg&ehk=FOnULQo2CMYQNa7suPzaXyLLG%2fd8gDBrvzvFxqobz5A%3d&risl=&pid=ImgRaw&r=0"style="width:350px">

    
    
</body>
</html>